
@keyframes girar {
    to{
        transform: rotate(360deg);
    }
}

@keyframes aparecer {
    to{
        transform: scale(1)
        
        
    }
    from{
        transform: scale(0);
        
    }
}
